$josefinsans: 'josefinsans';
$aleo: 'aleo';

$white: #fff;
$black: #000;
$grey: #333;
$light-grey: #999;
$dark-grey: #282828;
$blue: #5474fd;
$alt-blue: #496bfe;
$light-blue: #00a2ff;
$coral: #ff6363;
$pinterest-red: #cc0001;
$youtube-red: #ff0000;
$facebook-blue: #4267b2;
$linkedin-blue: #0a66c2;
$twitter-blue: #41abe1;